[Desktop Entry]
Version=1.0
Type=Application
Name=Redmine Open Issues
Exec=xdg-open "https://tinyurl.com/36cexs5n"
Icon=/usr/share/icons/redmine-desktop/open.png
Terminal=false
Categories=Network;
