[Desktop Entry]
Version=1.0
Type=Application
Name=Redmine Open Issues
Exec=xdg-open "https://tinyurl.com/36cexs5n"
Icon=$HOME/.local/share/applications/redmine-desktop/open.png
Terminal=false
Categories=Network;
