[Desktop Entry]
Version=1.0
Type=Application
Name=Redmine In Progress Issues
Exec=xdg-open "https://tinyurl.com/mt77ztkp"
Icon=/usr/share/icons/redmine-desktop/progress.png
Terminal=false
Categories=Network;
